<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    {% block header %}
    <div>
        <img src="{{ asset('images/logo.png')}}" alt="logo">
    </div>
    <br>

    {% endblock %}

    {% block content %}
    {% endblock %}



    
    </body>
</html>
