{% extends 'EMLCmsBundle::layout.html.twig' %}


{% block title %}Search.Results{% endblock %}

{% block content%}

<h1>Send.Results</h1>
Error in the recaptcha field.<br>Please 
<a href="#" onclick="history.go(-1);return false;">Go Back</a>. 

<br><br><br>
{% endblock %}



